/* Basic styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #48494B;
  color: #FFFFFF;
}

/* Navbar styling */
.navbar-custom {
  background-color: #FF5349;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #FFFFFF;
}

.navbar-custom .nav-link:hover {
  color: #FF786F;
}

.navbar-custom .dropdown-menu {
  background-color: #FF5349;
}

.navbar-custom .dropdown-item {
  color: #FFFFFF;
}

.navbar-custom .dropdown-item:hover {
  background-color: #FF786F;
}

/* Remove bullet points from the navbar */
.navbar-nav {
  list-style: none;
  padding-left: 0;
}


/* Buttons */
.btn {
  background-color: #FF5349;
  color: #FFFFFF;
  border: none;
}

.btn:hover {
  background-color: #FF786F;
  color: #FFFFFF;
}
